{% extends "layout.html" %}
{% block body %}
  {% include 'sidebar.html' %}
  <main class="col-sm-9 ml-sm-auto col-lg-10 pt-3">
    {% include 'flash_messages.html' %}
    <h1>Latest Items</h1>
    <div class="row">
      <div class="col-12 card-items">
        {% for item in latest_items %}
          <div class="card mb-3 mr-3 bg-light border-secondary">
            <div class="card-header">
              Category: <a class="font-italic" href="{{ url_for('show_category', category_name = item.category.name) }}">{{ item.category.name }}</a>
            </div>
            {% include 'item_card.html' %}
          </div>
        {% endfor %}
    </div>
    </div>
  </main>
{% endblock %}