{% extends "layout.html" %}
{% block body %}
  {% include 'sidebar.html' %}
  <main class="col-sm-9 ml-sm-auto col-lg-10 pt-3">
    {% include 'flash_messages.html' %}
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <h1>Edit Item</h1>
        <div class="card bg-light border-secondary">
          <form action="{{ url_for('edit_item', item_name = item.name, category_name = item.category.name) }}" method="post">
            <img class="card-img-top" src="{{ item.image_url }}" alt="{{ item.name }}">
            <div class="card-body">
              <div class="form-group">
                <label for="EditItemImage">Upload item image</label>
                <input type="file" class="form-control-file" name="image" id="EditItemImage">
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input required class="form-control" id="name" type="text" name="name" placeholder="{{ item.name }}">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" type="textarea" name="description" placeholder="{{ item.description }}" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="category">Category</label>
                <select required class="form-control" id="category" name="category_id">
                  {% for category in categories %}
                    {% if category.id == item.category_id %}
                      <option value="{{ category.id }}" selected>{{category.name}}</option>
                    {% else %}
                      <option value="{{ category.id }}">{{category.name}}</option>
                    {% endif%}
                  {% endfor %}
                </select>
              </div>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="btn btn-danger">Submit</button>
              <a class="btn btn-primary" href="{{ url_for('show_item', category_name = item.category.name, item_name = item.name) }}"> Cancel </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}