<!doctype html>
<head>
  <title>Catalog App</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="static/style.css" rel="stylesheet">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<sidebar>
<a href = '{{url_for('show_catalog')}}'>Catalog</a>
  {% for category in categories %}
    <a href = '{{url_for('show_category', category_name = category.name)}}'>{{category.name}}</a>
  {% endfor %}
{% if session['user_id'] %}
  {{session['email']}}
  <a href="{{url_for('get_api_auth_token')}}">API token</a>
  <a href="{{url_for('disconnect')}}">Log out</a>
{% else %}
  <a href="{{url_for('show_login')}}">Click Here to Log in</a>
{% endif %}
</sidebar>
{% block body %}
{% endblock %}