{% extends "layout.html" %}
{% block body %}
<div class='login'>
    <a class='google sign-in-btn' href='/oauth2callback/google?state={{state}}'></a>
    <a class='facebook sign-in-btn' href='/oauth2callback/facebook?state={{state}}'></a>
    <a class='github sign-in-btn' href='/oauth2callback/github?state={{state}}'>sign in with GitHub</a>
    <a class='twitter sign-in-btn' href='/oauth2callback/twitter?state={{state}}'>sign in with Twitter</a>
    <a class='linkedin sign-in-btn' href='/oauth2callback/linkedin?state={{state}}'>sign in with Linkedin</a>
</div>
{% endblock %}