<sidebar class="col-sm-3 col-md-2 bg-light">
  <nav class="nav nav-pills flex-column sidebar navbar-light">
    <button class="navbar-toggler btn btn-light" type="button" data-toggle="collapse" data-target="#sidebarToggler" aria-controls="sidebarToggler" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse show" id="sidebarToggler">
      <li>Categories</li>
    {% set active_category = category %}
    {% for category in categories %}
      {% if category == active_category %}
        <li><a class="nav-link active" href="{{ url_for('show_category', category_name = category.name) }}">{{ category.name }}</a></li>
      {% else %}
        <li><a class="nav-link" href="{{ url_for('show_category', category_name = category.name) }}">{{ category.name }}</a></li>
      {% endif %}
    {% endfor %}
    </div>
  </nav>
</sidebar>