{% extends "layout.html" %}
{% block body %}
  {% include 'sidebar.html' %}
  <main class="col-sm-9 ml-sm-auto col-lg-10 pt-3">
    {% include 'flash_messages.html' %}
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <h1>Create New Item</h1>
        <div class="card bg-light border-secondary">
          <form action="{{ url_for('create_new_item') }}" method="post" enctype="multipart/form-data">
            <div class="card-body">
              <div class="form-group">
                <label for="NewItemUploadImage">Upload item image</label>
                <input type="file" class="form-control-file" name="image" id="NewItemUploadImage" data-max-file-size="{{ max_file_size }}">
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input required class="form-control" id="name" type="text" name="name" placeholder="name">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" type="textarea" name="description" placeholder="description" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="category">Category</label>
                <select required class="form-control" id="category" name="category_id">
                  <option value="" selected>select category</option>
                  {% for category in categories %}
                      <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="btn btn-danger">Submit</button>
              <a class="btn btn-primary" href="{{ url_for('show_catalog') }}"> Cancel </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}